<html>
    <head>
      <title> MakersBNB </title>
    </head>
    <body>
      <h1> Sign up </h1>
      <form method="POST" action="/">
        <label>Email:</label>
        <input type ="text" name ="email" required />
        <br >

        <label>Password:</label>
        <input type ="text" name ="password" required />
        <br >

        <label>Password Confirmation:</label>
        <input type ="text" name ="Password Confirmation" required />
        <br >
        <input type ="submit" value ="Sign-up"/>
    </body>
    
</html>