<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form method="post" action="/">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Sign Up">
  </form>
</body>
</html>

<%# changed html doc to include "for=" in label and "id=" for email and password to identiify them through foreign key %>

<%# <html>
    <head>
      <title> MakersBNB </title>
    </head>
    <body>
      <h1> Sign up </h1>
      <form method="POST" action="/">
        <label>Email:</label>
        <input type ="text" name ="Email" required />
        <br >

        <label>Password:</label>
        <input type ="text" name ="Password" required />
        <br >
        <br >
        <input type ="submit" value ="Sign-up"/>
    </body> 
</html> %>