<html>
    <head>
      <title> Thank you for signing up with MakersBNB </title>
    </head>
    <body>
      <h1>You have now made an account with MakersBNB using email <%= @email %></h1> 
        <a href="/" class="button"> Click here to login </a>
    </body>
</html>