<html>
    <head>
      <title> Thank you for signing up with MakersBNB </title>
    </head>
    <body>
      <h1>You have now made an account with MakersBNB</h1> 
        <a href="/sessions/new" class="button"> Click here to login </a>
    </body>
</html>