<html>
  <head></head>
  <body>
    <h1><%= @space.name %></h1>
    <p>
      Description <%= @space.description %>
      <a href="/requests"><input type="submit" value="Request to book"></a>
    </p>
  </body>
</html>